<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/author/main.css" />
    <title>Portfolio</title>
  </head>
   <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_foto">
              <img
                class="left_foto_circle"
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_text_1"><%=user.name%></div>
            <div class="left_text_2"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icon_1.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icon_2.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icon_3.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icon_4.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icon_5.svg" class="icon_1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icon_6.svg" class="icon_1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <!-- ending foto frame -->
          <!---------------------------------2--------------------------------->

          <!-- starting information frame -->
          <div class="left_2">
            <div class="info_row age">
              <div class="color">Age:</div>
              <div>24</div>
            </div>
            <div class="info_row resudence">
              <div class="color">Residence:</div>
              <div>BD</div>
            </div>
            <div class="info_row freelance">
              <div class="color">Freelance</div>
              <div>Avaiable</div>
            </div>
            <div class="info_row adress">
              <div class="color">Adress:</div>
              <div>Dhaka,Bangladesh</div>
            </div>
          </div>

          <div class="marginer"></div>
          <!-- ending infformation frame -->
          <!-------------------------------3----------------------------------->
          <!--starting languages -->

          <div class="marginer1">
            <div><img src="images/languages.svg" alt="" /></div>
          </div>
          <div class="marginer"></div>
          <!--ending languages -->
          <!---------------------------------4-------------------------------->
          <!---starting skills-->
          <div class="marginer1">
            <div><img src="images/Skills.svg" alt="" /></div>
          </div>
          <!--ending skills-->
          <div class="marginer"></div>

          <div class="left_5">
            <div class="left_5_1">Extra Skills</div>
            <div class="left_5_list">
              <div class="left5">
                <img src="icon/icons.svg" alt="" />
                <div class="left51">Bootstrap, Materialize</div>
              </div>

              <div class="left5">
                <img src="icon/icons.svg" alt="" />
                <div class="left51">Stylus, Sass, Less</div>
              </div>

              <div class="left5">
                <img src="icon/icons.svg" alt="" />
                <div class="left51">Gulp, Webpack, Grunt</div>
              </div>

              <div class="left5">
                <img src="icon/icons.svg" alt="" />
                <div class="left51">GIT Knowledge</div>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>


          <div class="midd_frame">

           <img src="btn_icon/Ellipse 15.svg" class="con1">
           <img src="btn_icon/Ellipse 16.svg" class="con2">
           <img src="btn_icon/Ellipse 12 .svg" class="con3">
           <img src="btn_icon/Ellipse 13.svg" class="con4">
           <img src="btn_icon/Rectangle 52.svg" class="con5">
           
           <div class="midd_frame1">
            <h1 class="Doctor" > Doctor neurologists <br>in OHSU Hospital </h1>
            
            <p class="Doctor1">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing<br>
              Elit. Et, Volutpat Feugiat Placerat Lobortis. Natoque<br>
              Rutrum Semper Sed Suspendisse Nunc Lectus.
           </p>
             
              <img src="btn_icon/Button_book Me.svg" class="Doctor">
              
              <div class="youphoto"> <img src="images/Your image 1.png"></div>
         </div>


            <div class="Services">
            <h1 class="servis1">My  Services </h1>
            <p class="servis2"> Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor, <br> 
                Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit. <br>
                Lorem Ipsum</p>
            </div>
         

            <div class="card1">

              <div class="card">
                <img src="icon/icon1.png" class="icon1" />
                <h4  class="hlar" >Web Development</h4>
                <p  class="parag" >Blog,E-Commerce</p>
              </div> 

              <div class="card">
                <img src="icon/icon2.png" class="icon1" />
                <h4 class="hlar"> UI/UX Design</h4>
                <p class="parag"> Mobile, Website Design</p>
              </div>
  
              <div class="card">
                 <img src="icon/icon3.png" class="icon1" />
                 <h4 class="hlar"> Sound Design</h4>
                 <p class="parag"> Voice Over, Beat Making</p>
              </div>
              
              <div class="card">
                <img src="icon/icon4.png" class="icon1" />
                <h4  class="hlar" >Game Design</h4>
                <p class="parag" >Character Design, Prop & Objects</p>
             </div> 

              <div class="card">
                <img src="icon/icon5.png" class="icon1" />
                <h4  class="hlar"> Photography</h4>
                <p  class="parag" >Portrait, Product Photography</p>
              </div> 

              <div class="card">
                  <h1 class="hlar"> Advertising</h1>
                  <p  class="parag" >Lorem Ipsum Dolor Sit Amet <br>
                  Consectuter Adipiscing Elit. vitae <br>
                  Nulla Diam In Dictum A unra <br> Viverra Morbi. </p>
              </div> 
              </div>
             </div>
       
       
        <div class="right_frame">
          <img src="btn_icon/contrast.png" class="contrast">
           
          <div class="contrast1">
           <img src="btn_icon/pop up.png" class="pop">
           <img src="btn_icon/home.png" class="home">

          </div>
          
          <div class="contrast2">           
            <img src="btn_icon/file-code.png" class="ending1">         
            <img src="btn_icon/Icons_cv.png" class="ending2"> 
              <img src="btn_icon/Vector.svg" class="ending2"> 
            <img src="btn_icon/Icons_Blog.png" class="ending3">
            <img src="btn_icon/Icons_Contact.png" class="ending4">
          </div>
        </div>
  </body>
</html>