.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(234, 241, 241);
}
.main_frame {
  position: relative;
  width: 1444px;
  height: 1412px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 1)
}





/* MIDD FRAME*/

.main_frame .midd_frame   {
  position: relative;
  width: 971px;
  height: 454px;
  left: 2px;
  right: 22px;
  background-color: white;
  margin-top: -930px;
}
.main_frame .midd_frame .midd_frame1 .Doctor {
  position: relative;
  margin-left: 140px;
   margin-top: 50px;
   font-size: 35px;
}

  .main_frame .midd_frame .midd_frame1 .Doctor1 {
    position: relative;
  margin-left: 140px;
  align-items: center;
  margin-top: 50px;
  color: dimgrey;

  } 


.main_frame .midd_frame .midd_frame1 .youphoto {
  position: relative;
   width: 326.06px;
   height: 446.63px;
   margin-left: 600px;
   margin-top: -410px;
}

 .main_frame .midd_frame .con1 {
  position: relative;
  left: 50px;
  z-index: auto;
 top: 50px;
 }


.main_frame .midd_frame .con2 {
  position: relative;
  left: 50px;
  z-index: auto;
  top: 350px;

 }

 .main_frame .midd_frame .con3 {
  position: relative;
  left: 400px;
  z-index: auto;
  top: 40px;

 }

 .main_frame .midd_frame .con4 {
  position: relative;
  left: 450px;
  z-index: auto;
  top: 350px;
}

.main_frame .midd_frame .con5 {
  position: relative;
  left: 350px;
  z-index: auto;
  top: 290px;
}









 /*MY SERVICES*/
 .frame .main_frame .midd_frame .Services {
  position: relative;
 width: 700px;
 height: 300px;
 align-items: center;
 margin-left: 130px;
 }

.frame .main_frame .midd_frame .Services .servis1 {
  position: relative;
  align-items: center;
  margin-top: 150px;
  margin-left: 200px;
}

.frame .main_frame .midd_frame .Services  .servis2{
  position: relative;
 margin-left: 150px;
 color: dimgrey;
}



/* card1 */

.main_frame .midd_frame .card1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);          
  gap: 10px;                                 

}


.main_frame .midd_frame .card1 .card {
   background-color: white;
  display: flex;
  display: inline-block;
  padding: 15px;
   width: 280px;
   height: 185px;
   gap: 20px;
   
   margin-top: 5px;
}

.main_frame .midd_frame .card1 .card .icon1 {
  position: relative;
  left: 100px;
}


.main_frame .midd_frame .card1 .card .hlar {
position: relative;
left: 70px;
}


.main_frame .midd_frame .card1 .card .parag {
  position: relative;
  left: 40px;
  color: darkgray;
}












/* starting left frame */
.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1385px;
  background-color: white;
  margin-top: 5px;
  padding: 2px;
}





/*RIGHT FRAME */
.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1385px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  
}

.main_frame .right_frame .contrast {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  
}


.main_frame .right_frame .contrast1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 65px;
  height: 65px;
  align-items: center;
  gap: 2px;
  margin-top: 50px;

  
}
 

.main_frame .right_frame .contrast2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 250px;
  align-items: center;
  margin-top: 220px;
  

  
}

.main_frame .right_frame .pop {
  margin-top: 140px;
  width: 65px;
  height: 33px;
  left: 50px;
}

  .main_frame .right_frame .home {
    background-color: #ffb400;
    border-radius: 20px;
    width: 30px;
    border: 40px;
  }

  

  


/* starting left_1 foto text and icons */
.main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_frame .left_frame .left_1 .left_foto {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
}
.left_foto_circle {
  border-radius: 50%;
}
.main_frame .left_frame .left_1 .left_text_1 {
  position: relative;
  display: flex;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* H4 - 18px */
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  color: 2B2B2B;
}
.main_frame .left_frame .left_1 .left_text_2 {
  position: relative;
  width: 147.83px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: 2B2B2B;
}
.main_frame .left_frame .left_1 .left_icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}

.main_frame .left_frame .left_icons .link_href {
  text-decoration: none;
  color: black;
}
.main_frame .left_frame .left_icons .icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0.25));
  background: #ffb400;
}
.main_frame .left_frame .left_icons .icon_1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
}
/* ending left_1 foto text and icons */
/* starting only marginer */
.main_frame .left_frame .marginer {
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
  /* background: #F0F0F6; */
}

.marginer1 {
  margin-left: 40px;
}

/* ending only marginer */

/* starting information frame */
.left_2 {
  width: 221px;
  height: 126px;
  margin-left: 40px;
  margin-top: 10px;
  /* margin-right: 40px;/ */
}

.color {
  background-color: #ffb400;
}
.info_row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}
/* ending information frame */


.frame .main_frame .left_frame .left_5 {
  position: relative;
  width: 220px;
  height: 130px;
  margin-left: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.frame .main_frame .left_frame .left_5 .left5 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.frame .main_frame .left_frame .left_5 .left5 .left51 {
  font-family: Inter;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.frame .main_frame .left_frame .left_5 .left_5_1 {
  font-family: Inter;
  font-style: Medium;
  font-size: 22px;
  font-weight: 500;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
